@charset "utf-8";
/* CSS Document */
.ban{
	background-color: deepskyblue;
	width: 100%;
}
.wiz{
	background: #E5DADA;
}
.bw{
	color: lightslategray;background-color: whitesmoke;
}
.kin{
	color: #0C1709; background-color: lightgoldenrodyellow;
}
.exp{
	background-color: white;color: deepskyblue;
}
.str{
	color: red;
}
.st{
	color:#3F0707;
}
.gal{
	background-color:#D96F70;
}
.ft{
	background-color:  #86B9C1;
}
.ph{
	border: 3px outset skyblue;border-radius: 15px;background-color: gray;
}